<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./public/images/favicon-32x32.png"
    />

    <link rel="stylesheet" href="./public/css/styles.css" />

    <title>Frontend Mentor | Time tracking dashboard</title>
  </head>
  <body>
    <main>
      <div class="main_card">
        <div class="image_name">
          <img src="public/images/image-jeremy.png" />
          <div class="name_title_container">
            <div class="title">Report for</div>
            <div class="name">Jeremy Robson</div>
          </div>
        </div>
        <ul class="time_options">
          <li id="daily">Daily</li>
          <li id="weekly">Weekly</li>
          <li id="monthly">Monthly</li>
        </ul>
      </div>
      <% data.forEach(element => { %>

      <div class="standard_card_container <%= element.title %>">
        <figure class="icon">
          <img src="public/images/icon-work.svg" />
        </figure>
        <div class="standard_card_info">
          <div class="category_container">
            <div class="category_title"><%=element.title%></div>
            <figure class="elipses">
              <img src="public/images/icon-ellipsis.svg" />
            </figure>
          </div>
          <div class="category_time">
            <div class="actual_info"><%=element.timeframes.daily.current%>hrs</div>
            <div class="last_info">
              Last week - <%=element.timeframes.daily.previous%>hrs
            </div>
            </div>
          </div>
        </div>
      </div>

      <% }) %>
    </main>

    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="#">Mars</a>.
    </div>
  </body>
</html>
